body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

.button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
}

.about-container {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
}

.img-thumbnail {
    border-radius: 10%;
    border: 1px solid #555; 
}

#emailBox {
    display: none;
    color: red;
    font-weight: bold;
}

.list-group-item {
    background-color: #fff;
    border-left: 5px solid purple;
}
.badge {
    font-size: 1rem;
    padding: 8px;
}
.btn:hover {
    opacity: 0.8;
}
p {
    font-size: 20px;
}
